:root {
    --primary-color: #f7f7ff;
    --secondary-color: #6fc2c4;
    --third-color: #383593;
    --dark-primary-color: #2c383d;
    --dark-secondary-color: #253135;
    --primary-border-radius: 8px;
    --primary-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

nav img#paracan-logo {
    width: 190px;
    object-fit: contain;
    transition: 0.2s all ease;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 30px;
    height: 60px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 1s all ease;
}

header {
    width: 100%;
    background-image: url('/landing-page/static/img/itaipu-crypto.webp');
    background-size: 1520px;
    margin-bottom: 40px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 100px;
    height: 700px;
    color: black;
}

.header-background {
    background-color: rgba(255, 255, 255, 0.70);
    padding: 40px;
    border-radius: var(--primary-border-radius);
    transition: .3s ease all;
}

.header-background:hover {
    background-color: rgba(229, 229, 229, 0.9);
}

.header-title {
    font-size: 2.3rem;
    width: 500px;
    margin-bottom: 30px;
}

.header-title b {
    color: white;
    background-color: black;
}

.header-desc {
    font-size: 1.5rem;
    width: 450px;
}

.our-facilities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.our-facilities-header h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.our-facilities-body video {
    border-radius: var(--primary-border-radius);
}

.vision-and-values {
    width: 80%;
    margin-bottom: 40px;
}

.vision-and-values ul {
    list-style-type: none;
}

.vision-values-item {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vision-and-values-header {
    text-align: center;
    margin-bottom: 15px;
}

.vision-and-values-header {
    font-size: 2rem;
}

.vision-and-values-body {
    font-size: 1.5rem;
    text-align: center;
}

div.vision-and-values-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.vision-and-values-body p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    list-style: none;
    padding-right: 10px;
}

.links li {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: all .2s ease;
}

.links li:hover {
    background-color: rgba(128, 128, 128, 0.186);
}

.links li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 15px;

    transition: all .2s ease;
}

.links li a:hover {
    color: #595959;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.our-numbers {
    margin-top: 20px;
    margin-bottom: 40px;

    background-image: url('/landing-page/static/img/main-image.png');
    background-position: bottom;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-numbers-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 92%;
}

.our-numbers-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    background-color: rgba(228, 228, 228, 0.803);
    height: 300px;

    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    transition: 0.4s all ease;
    width: 240px;
}

.our-numbers-container:hover,
.vision-card:hover {
    background-color: rgba(229, 229, 229, 0.9);
    box-shadow: var(--primary-box-shadow);
}

.our-numbers-title {
    font-size: 1.85rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.our-numbers-numbers {
    font-size: 1.85rem;
    font-weight: bold;
    text-align: center;
}

.our-numbers-icon img {
    filter: sepia(100%) hue-rotate(125deg) saturate(150%);
    object-fit: contain;
    width: 120px;
    border-radius: 50%;
    box-shadow: var(--primary-box-shadow);
}

.vision-card {
    background-color: rgba(228, 228, 228, 0.803);
    border-radius: var(--primary-border-radius);
    padding: 40px;
    transition: 0.9s all ease;
    width: 92%;
}

.our-services {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 40px;
}

.our-services_header * {
    text-align: center;
}

.our-services_header_title {
    font-size: 2rem;
}

.our-services__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    gap: 35px;
    max-width: 600px;
    height: 300px;
    padding: 20px;

    border: 1px solid #5ebfc5;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);

    transition: .5s all ease;
}

.vision-and-values-body .card {
    max-width: 400px;
}

.vision-and-values-body .card-body {
    font-size: 1.2rem;
}

.card:hover {
    background-color: #5ec0c52f;
    border: 1px solid #5ec0c52f;
}

.card-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 45px;
    font-size: 1.7rem;
    font-weight: bold;
    height: 20px;
}

.card-body {
    text-align: center;
    font-size: 1.05rem;
    height: 110px;
}

.latest-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 30px;

    border-radius: var(--primary-border-radius);
}

.latest-numbers-container {
    width: 700px;
    margin: 20px;
}

.latest-number-header {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 1.5rem;

    margin-bottom: 10px;
}

.latest-numbers-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    box-shadow: var(--primary-box-shadow);
}

.latest-numbers-img-left {
    box-shadow: var(--primary-box-shadow);
    border-top-left-radius: var(--primary-border-radius);
    border-bottom-left-radius: var(--primary-border-radius);
}

.latest-numbers-img-right {
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
}

.our-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 30px;

    border-radius: var(--primary-border-radius);
}

.our-brands-title {
    font-size: 2rem;
}

.our-brands-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    width: 70%;
}

li .our-brands-img {
    object-fit: contain;
    filter: grayscale(1);
    transition: all .5s ease;
}

.our-brands-img:hover {
    filter: grayscale(0);
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contact-us-title {
    font-size: 1.7rem;
    font-weight: 900;
    color: white;
}

.contact-us-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: var(--primary-border-radius);
    border: 1px solid var(--secondary-color);
    text-transform: uppercase;

    transition: all .5s ease;
}

.contact-us-link:hover {
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

footer {
    background-color: var(--dark-secondary-color);
    color: white;
    font-weight: bold;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-primary-color);
    gap: 30px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-right: 100px;
}

footer div {
    width: 300px;
    display: grid;
    place-items: center;
}

footer div.footer-address {
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

footer div.footer-address p {
    text-align: center;
    width: 100%;
}

footer div.footer-address i {
    font-size: 20px;
}

.navbar article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    height: 50px;
    text-decoration: none;
}

.coin-price-name,
.coin-price-coin,
.coin-price-price {
    font-size: 0.8rem;
}

.coin-price-name {
    font-weight: bold;
}

.coin-price-coin {
    color: gray;
}

.coin-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fa-bitcoin-sign,
.fa-litecoin-sign,
.fa-ethereum {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    color: white;
}

.fa-bitcoin-sign {
    background-color: #ef8e19;
}

.fa-litecoin-sign {
    background-color: #325a98;
}

.fa-ethereum {
    background-color: #5f7ae3;
}

.disable {
    display: none !important;
}

.footer-img {
    object-fit: contain;
    width: 400px;
}

/* make media queries */
@media screen and (max-width: 1200px) {

    .links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    .links li {
        padding: 10px;
    }

    nav.navbar {
        flex-direction: column;
        height: 210px;
        justify-content: flex-start;
    }

    .header {
        align-items: center;
        height: 600px;
    }

    .header-title {
        font-size: 1.4rem;
        width: 270px;
    }

    .header-desc {
        font-size: 1.1rem;
        width: 270px;
    }

    .card-title {
        text-align: center;
    }

    .our-services__body {
        grid-template-columns: 1fr;
    }

    .our-brands-container {
        flex-direction: column;
        gap: 100px;
        width: 350px;
    }

    .latest-numbers-card {
        width: 350px;
    }

    .latest-numbers-card:nth-child(even) {
        flex-direction: column;
    }

    .latest-numbers-card:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .latest-number-header {
        font-size: 1rem;
        align-items: center;
    }

    .latest-numbers-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .latest-numbers-number {
        text-align: center;
    }

    .latest-numbers-title {
        width: 350px;
        text-align: center;
    }

    video {
        width: 350px;
    }

    .latest-numbers-desc {
        font-size: 0.8rem;
        width: 340px;
    }

    .contry-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .our-services {
        padding: 0px 50px;
    }

    .latest-numbers-img-left,
    .latest-numbers-img-right {
        width: 300px;
        border-top-right-radius: var(--primary-border-radius);
        border-top-left-radius: var(--primary-border-radius);

        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    header {
        background-size: 1500px;
        height: 800px;
        background-position: left 700px top 800px;
    }

    nav.navbar {
        position: static;
        height: auto;
    }

    .vision-and-values-header {
        font-size: 1.4rem;
    }

    .vision-card {
        width: 510px;
        padding: 30px;
    }

    p.vision-and-values-body {
        font-size: 1.1rem;
    }

    div.vision-and-values-body {
        grid-template-columns: 1fr;        
    }

    div.vision-and-values-body .card-title {
        font-size: 1.4rem;
    }

    div.vision-and-values-body .card-body {
        font-size: 1.1rem;
    }

    .coin-price {
        justify-content: center;
        font-size: 0.7rem;
        gap: 5px;
        flex-wrap: wrap;
        height: auto;
    }

    .coin-price-container {
        gap: 5px
    }

    .coin-price-name,
    .coin-price-coin,
    .coin-price-price {
        font-size: 0.7rem;
    }

    footer {
        height: 500px;
    }

    .footer-info {
        flex-direction: column;
        gap: 20px;
        margin-right: 0px;
    }

    .footer-copyright {
        margin-top: 20px;
    }

    .footer-address,
    .footer-copyright {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 400px;
    }

    .footer-address {
        width: 250px;
    }

    .navbar article {
        flex-direction: column;
    }

    .card-title {
        font-size: 1.4rem;
    }

    .card-body {
        font-size: 0.95rem;
    }

    .our-numbers-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .our-numbers {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        height: 800px;
        /* padding-top: 30px; */
        padding-bottom: 30px;
    }

    .our-numbers-container {
        height: 150px;
        width: 100px;
    }

    .our-numbers-numbers,
    .our-numbers-title {
        font-size: 0.9rem;
    }

    .our-numbers-icon img {
        width: 50px;
    }
}